{% extends 'base.html.twig' %}

{% block title %}Mon compte - Feelcrafts{% endblock %}

{% block content %}
  <h1>Mon compte </h1>  
  Bienvenu {{app.user.firstname}} dans votre compte. </br>
  C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
  <hr>
  - <a href="{{path('account_password')}}"> Modifier mon mot de passe</a></br>
  - Ajouter mes adresses</br>
  - Mes commandes</br>
  <hr>
{% endblock %}
