.navbar-item-custom,
.navbar-item-custom a {
  color: white;
}

.footer-custom {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #dfeaff;
  padding-top: 25px;
}

.product-item h5 {
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 1px;
}

.product-item .product-subtitle {
  font-size: 14px;
  display: block;
  margin-bottom: 10px ;
}

.product-item {
  margin-top: 50px;
}

.product-item .product-price {
  font-size: 15px;
  font-weight: bold;
 
}

.product-img{
  margin-bottom: 10px;
  width: 250px;
  height: 250px;
}

.product-container{
  margin-bottom: 125px;
}

.product-page-price{
  font-size: 20px;
  font-weight: bold;
}

.product-page-img{
  
  width: 300px;
  height: 300px;
}