{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Feelcrafts
{% endblock %}

{% block content %}
	<h2>Je passe ma commande</h2>
	<p>Choisissez vos préférences avant de passer votre commande sur Feelcrafts</p>
	<hr>

	<div class="row">
		<div class="col-md-6">
			{% set formhtml %}
			{{form(form)}}
				{% endset %}
				{{ formhtml|replace({'[br]' : '<br/>'})|raw }}
			</div>

			<div class="col-md-6">
				<b>Récap de ma commande</b><br/>
				<b>Bouton pour payer</b>
			</div>
		</div>
	{% endblock %}
